* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.home {
  height: 100vh;
  background-size: cover;
  background-position: bottom center;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 165px;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 30px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.home__title {
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
}
.home__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 992px) {
  .nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    margin-bottom: 65px;
  }
  .home__title {
    font-size: 76px;
    line-height: 86px;
  }
  .nav__item {
    margin-right: 15px;
  }
  .nav__link {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .home__title {
    font-size: 55px;
    line-height: 60px;
  }
  .nav__list {
    flex-wrap: wrap;
    justify-content: center;
}
}

